<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">   
    <title>VENUE-LISTING</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
-    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../../static/css/about.css">   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-0">
		<div class="container">
			<a class="navbar-brand" href="#">SHOW<span>UP</span></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<!--change to ml-auto-->
					<li class="nav-item active">
						<a class="nav-link" href="../../templates/pages/home.html">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">VENUES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/pages/about.html">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/forms/contact.html">CONTACT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/pages/user_profile.html">PROFILE</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                  <img src="../../static/img/venue1.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                 <h2>Lorem ipsum dolor sit amet.</h2>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quasi explicabo nesciunt aliquam debitis vel, iusto totam autem minus molestias porro perspiciatis odio excepturi ratione aperiam deleniti labore consequuntur inventore minima enim. Harum nulla officiis veritatis! Veritatis officiis dicta, quae aut voluptatibus quaerat? Sequi quos quam qui dolorum odio neque.</p>
                 <div class="row">
                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4">

                      </div>
                 </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer>
        <div class="container-fluid text-center">
          <div class="row">
            <div class="col-sm-3">
              <h1>SHOWUP</h1>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><h2>CONNECT</h2></li>
                <li><a href="https://www.instagram.com">INSTAGRAM</a></li>
                <li><a href="https://www.facebook.com">FACEBOOK</a></li>
                <li><a href="https://www.twitter.com">TWITTER</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><h2>SERVICES</h2></li>
                <li><a href="../../templates/pages/venue_listing.html">VENUES</a></li>
                <li><a href="#">TICKET SALES</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><h2>HELP</h2></li>
                <li><a href="../../templates/forms/contact.html">CONTACT US</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js" ></script> 
</body>
</html>