<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWUP</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="banner-text">
            <div class="welcome mt-5"><span>welcome to</span></div>
            <div class="text-area">
                <span>S</span> <span>H</span> <span>O</span> <span>W</span>   <span>U</span> <span>P</span>
            </div>
            <div class="details"><span>a web application where as an artist you can reserve venues and as a fan you can book for tickets</span></div>
            <div class="registration">
                <div class="row">
                    <div class="col-sm-6 mt-5"><a href="../../templates/forms/artist_signup.html">signup as an artist</a></div>
                    <div class="col-sm-6 mt-5"><a href="../../templates/forms/fan_signup.html">signup as a fan</a></div>
                </div>
                <div class="mt-5"><a href="../../templates/forms/login.html">already have an account ? login</a></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>