<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWUP</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="logo">

        </div>
        <div class="banner">
            <p>welcome to</p>
            <p>SHOWUP</p>
        </div>
        <div class="registration">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="">sign up as an artist</a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="">sign up as a fan</a>
                </div>
            </div>
            <div>
                <a href="">already have an account? <span>login</span></a>
            </div>

        </div>
    </div>


    <script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>