<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>show details</title>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../static/css/show.css">

 
  
   
  
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-0">
		<div class="container">
			<a class="navbar-brand" href="#">SHOW<span>UP</span></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item active">
						<a class="nav-link" href="../../templates/pages/home_show.html">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/pages/about.html">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/forms/contact.html">CONTACT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/forms/user_profile.html">PROFILE</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
   <div class="banner">

   </div>
   <div class="container-fluid">
      <div class="row details">
         <div class="col-lg-6 col-sm-12 details1">
            <h2 class="mt-2">MORE INFO:</h2>
            <p>
               Experience the breathtaking world of 'AYRA STARR: A Journey Beyond.' This mesmerizing show takes you on a captivating adventure through time and space. Witness stunning visual effects, spellbinding performances, and a narrative that will leave you in awe. From gravity-defying acrobatics to mind-bending illusions, every moment is filled with wonder and excitement. Immerse yourself in a symphony of lights, music, and dance as the performers push the boundaries of imagination. 'Enigma: A Journey Beyond' is an unforgettable spectacle that ignites your senses and transports you to a realm where dreams become reality. Prepare to be amazed as this extraordinary show unfolds before your eyes, leaving you with memories that will last a lifetime.
            </p>  
         </div>
         <div class="col-lg-6 col-sm-12 pt-3 details">
            <div class="text-center">
               <h3>Ethereal Dreams</h3>
               <h6><b>Time:September 15, 2023, 7:00 PM</b></h6>
            </div>
            <div class="container mt-3 mb-5">
               <a href="#demo" class="btn btn-primary mb-3" data-toggle="collapse">regular ticket</a>
               <div id="demo" class="collapse">
                  <h5>Venue:<b>  Grand Theater</b></h5>
                  <h5> Ticket Type:<b>  Regular </b></h5>
                  <h5> Price:<b>  $25</b></h5>
                  <h5>- Access any seating area of your choice.Please present the appropriate ticket at the entrance for admission. For any inquiries, contact tickets@example.com. Enjoy the show!</h5>
  
                     <a class="nav-link" href="../../templates/forms/payment_show.html"><button type="button" class="btn btn-success">BOOK NOW</button></a>
               </div>
               
            </div>
            <div class="container">
               <a href="#demos" class="btn btn-primary mb-3" data-toggle="collapse">vip</a>
               <div id="demos" class="collapse">
                  <h5>Venue:<b>  Grand Theater</b></h5>
                  <h5> Ticket Type:<b>  VIP </b></h5>
                  <h5> Price:<b>  $50</b></h5>
                  <h5>- Exclusive access to the VIP lounge with   complimentary drinks and a meet-and-greet 
                  session  with the artists.
                    Please present the appropriate ticket at the entrance for admission. For any inquiries, contact tickets@example.com. Enjoy the show!</h5>  
                        <a class="nav-link" href="../../templates/forms/payment_show.html"><button type="button" class="btn btn-success">BOOK NOW</button></a>
                  </div>
            </div> 
         </div>
      </div>
   </div>
   <footer>
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-sm-3">
            <h1>SHOWUP</h1>
          </div>
          <div class="col-sm-3">
            <ul>
              <li><h2>CONNECT</h2></li>
              <li><a href="https://www.instagram.com">INSTAGRAM</a></li>
              <li><a href="https://www.facebook.com">FACEBOOK</a></li>
              <li><a href="https://www.twitter.com">TWITTER</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul>
              <li><h2>SERVICES</h2></li>
              <li><a href="#">VENUES</a></li>
              <li><a href="../../templates/pages/home_show.html">TICKET SALES</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul>
              <li><h2>HELP</h2></li>
              <li><a href="../../templates/forms/contact.html">CONTACT US</a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>




  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="../../js/bootstrap.min.js" ></script> 
  <script src="../../static/js/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>