<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">   
    <title>VENUE-LISTING</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/css/listing.css">   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-0">
		<div class="container">
			<a class="navbar-brand" href="#">SHOW<span>UP</span></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<!--change to ml-auto-->
					<li class="nav-item active">
						<a class="nav-link" href="/templates/pages/home.html">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">VENUES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/templates/pages/about.html">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/templates/pages/contact.html">CONTACT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">PROFILE</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<header>
		<div class="container">
			<div class="banner-text">
				<div class="text-area">
					<span>S</span> <span>H</span> <span>O</span> <span>W</span>   <span>U</span> <span>P</span>
				</div>
				<p>RESERVE VENUES NOW FOR YOUR CONCERTS</p>
				<p class="banner-btn"><a href="#">RESERVE NOW</a></p>
			</div>
		</div>
	</header>

    <!-- listings -->
    <section class="container-fluid text-center listing">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-3 my-4">
                    <img class="card-img-top" src="/static/img/venue1.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">PALA PALA FIELD</h4>
                      <p class="card-text">BAKWERI TOWN</p>
                      <p class="card-text">status</p>
                      <span><button class="btn btn1"><a href="#">more details</a></button></span>
                      <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-3 my-4">
                    <img class="card-img-top" src="/static/img/venue2.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">MOLYKO STADIUM</h4>
                      <p class="card-text">CHECK POINT</p>
                      <p class="card-text">status</p>
                      <span><button class="btn btn1"><a href="#">more details</a></button></span>
                      <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-3 my-4">
                    <img class="card-img-top" src="/static/img/venue3.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">CHARIOT HOTEL</h4>
                      <p class="card-text">MUEA</p>
                      <p class="card-text">status</p>
                      <span><button class="btn btn1"><a href="#">more details</a></button></span>
                      <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-3 my-4">
                    <img class="card-img-top" src="/static/img/venue4.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">MOUNTAIN HOTEL</h4>
                      <p class="card-text">BUEA TOWN</p>
                      <p class="card-text">status</p>
                      <span><button class="btn btn1"><a href="#">more details</a></button></span>
                      <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                    </div>
                  </div>
            </div>
        </div>
        <!-- second row -->
        <div class="row ">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-3 my-4">
                    <img class="card-img-top" src="/static/img/venue5.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">pala pala field</h4>
                      <p class="card-text">bakweri town</p>
                      <p class="card-text">status</p>
                      <span><button class="btn btn1"><a href="#">more details</a></button></span>
                      <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-3 my-4">
                    <img class="card-img-top" src="/static/img/venue6.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">pala pala field</h4>
                      <p class="card-text">bakweri town</p>
                      <p class="card-text">status</p>
                      <span><button class="btn btn1"><a href="#">more details</a></button></span>
                      <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                    </div>
                  </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card mx-3 my-4">
                  <img class="card-img-top" src="/static/img/venue7.jpg" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">pala pala field</h4>
                    <p class="card-text">bakweri town</p>
                    <p class="card-text">status</p>
                    <span><button class="btn btn1"><a href="#">more details</a></button></span>
                    <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                  </div>
                </div>
          </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card mx-3 my-4">
                    <img class="card-img-top" src="/static/img/venue8.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">pala pala field</h4>
                      <p class="card-text">bakweri town</p>
                      <p class="card-text">status</p>
                      <span><button class="btn btn1"><a href="#">more details</a></button></span>
                      <span><button class="btn btn2 mr-0"><a href="#">book now</a></button></span>
                    </div>
                 </div>
            </div>
        </div>
    </section>

    <!-- newsletter -->
    <section>
        <div class="container-fluid bg-grey">
            <div class="row"> 
               <div class="col-sm-7 pl-5">
                   <h2>STAY UPDATED</h2>
                   <p>JOIN OUR WEBSITE WITH YOUR EMAIL AND BE THE FIRST TO BE NOTIFIED WHEN A VENUE IS AVAILABLE</p>
               </div>
               <div class="col-sm-5 pl-5">
                <form class="form-inline" action="/action_page.php">
                  <!-- <label for="email" class="mb-2 mr-sm-2">Email:</label> -->
                  <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Enter email" name="email">
                  <button type="submit" class="btn mb-2">Submit</button>
                </form>
               </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="container-fluid text-center">
          <div class="row">
            <div class="col-sm-3">
              <h1>SHOWUP</h1>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><h2>CONNECT</h2></li>
                <li><a href="">INSTAGRAM</a></li>
                <li><a href="">FACEBOOK</a></li>
                <li><a href="">TWITTER</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><h2>SERVICES</h2></li>
                <li><a href="">VENUES</a></li>
                <li><a href="">TICKET SALES</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><h2>HELP</h2></li>
                <li><a href="">CONTACT US</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script> 
</body>
</html>
