body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../../static/img/index.jpeg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.nav{
    
}
.banner {
	position: absolute;
	/* top: 30%; */
	margin-top: 180px;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.logo {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: 700;
}
.logo span {
	color: #b5d887;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: animate 5s forwards;
}
.logo span {
	display: inline-block;
}
.logo span:nth-of-type(2) {
	animation-delay: .1s;
}
.logo span:nth-of-type(3) {
	animation-delay: .2s;
}
.logo span:nth-of-type(4) {
	animation-delay: .3s;
} 
.logo span:nth-of-type(5) {
	animation-delay: .4s;
}
.logo span:nth-of-type(6) {
	animation-delay: .5s;
}
.logo span:nth-of-type(7) {
	animation-delay: .6s;
}
.logo span:nth-of-type(8) {
	animation-delay: .7s;
}
@keyframes animate {
	30% {
		transform: translate(0, -50px) rotate(180deg) scale(1);
	}
	60% {
		transform: translate(0, 20px) scale(.8) rotate(0deg);
	}
	100% {
		transform: translate(0) scale(1) rotate(0deg);
		opacity: 1;
	}
}