<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/contact.css">
 
</head>
<body>
  <section>
  <header>
    <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-0">
		<div class="container">
			<a class="navbar-brand" href="#">SHOW<span>UP</span></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item active">
						<a class="nav-link" href="../../templates/pages/home_show.html">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/pages/about.html">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/forms/contact.html">CONTACT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../../templates/forms/user_profile.html">PROFILE</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

  </header>
 <div class="container mt-5">
    <h1>Contact Us</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h5>Our Information</h5>
        <div class="contact-info">
          <p>Address: 123 Main Street, City, Country</p>
          <p>Phone: +1 123-456-7890</p>
          <p>Email: info@example.com</p>
        </div>
        </div>
      </div> 
      <div class="container mb-5">
        <div class="col-md-6">
      <div class="panel-group" id="accordion">
          <div class="faqHeader">General Questions</div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                      Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes. 
                      This ensures a valid communication channel for all parties involved in any transactions. 
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Can I submit my own Bootstrap templates or themes?</a>
                  </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                  <div class="panel-body">
                      A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme 
                      or a free one, you are encouraged to contribute. All credits are published along with the resources. 
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is the currency used for all transactions?</a>
                  </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                  <div class="panel-body">
                      All prices for themes, templates and other items, including each seller's or buyer's account balance are in <strong>USD</strong>
                  </div>
              </div>
          </div>
  
          </div>
      </div>
  <div class="col-md-6">
    <h5>Send us a message</h5>
      <form class="contact-form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
      </div>
    
    </section>
      
  

     
 <!---footer-->
  <footer>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-3">
          <h1>SHOWUP</h1>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><h2>CONNECT</h2></li>
            <li><a href="https://www.instagram.com">INSTAGRAM</a></li>
            <li><a href="https://www.facebook.com">FACEBOOK</a></li>
            <li><a href="https://www.twitter.com">TWITTER</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><h2>SERVICES</h2></li>
            <li><a href="#">VENUES</a></li>
            <li><a href="../../templates/pages/home_show.html">TICKET SALES</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><h2>HELP</h2></li>
            <li><a href="../../templates/forms/contact.html">CONTACT US</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>


  <script src="../../static/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="../../static/js/jquery.js"></script>


</html>