<!DOCTYPE html>
<html>
    <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" initial-scale="1.0">
<title>Show up</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/js/bootstrap.min.js">
<link rel="stylesheet" href="/static/css/style.css">
<!--for the font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<style>
   
</style>
    </head>
    <body>

      <section>
          <div class="register py-5 bg-light">
            <div class="container">
              <div id="row"  class="row no-gutters">
                 <div class="col-lg-5">
                     <img class=" card-img" id="l-img" src="/static/img/f1.jpg"  alt="">
                     <div class="card-img-overlay">
                      <div class="card-body text-light">
                        <p  class="card-title display-4 font-weight-bolder  ">welcame</p>
                        <p class="card-title display-6 font-weight-light">Discover million of events,get alerts about your favorite artists,teams,plays and more — plus always- secure, effortless ticketing.</p> 
                      </div>
                 </div>
                 </div>
                     <div class="col-lg-7  text-center py-5">
                        <h1 class="text-success">Welcame back</h1>
                      
                        <div id="pls"><h6>enter your informations</h6></div>

                             <form action="/">
                                   <!--email-->
                               <div class="form-row pt-3 py-2"> 
                                   <div class="offset-1 col-lg-10 ">
                                <input type="email" id="inp" placeholder="Enter email" required>
                                   </div>
                               </div> 
                                
                                 <!--password-->
                               <div class="form-row pt-3 py-2"> 
                                <div class="offset-1 col-lg-10">
                             <input type="password" id="inp" placeholder="Enter password" required>
                                </div>
                            </div> 
 
                            <!--button-->
                          <div class="form-row py-3"> 
                              <div class="offset-1 col-lg-10">
                                   <button class="btn2">Login</button>
                              </div>
                          </div>
                          
                           <!--forgot password-->
                        <a href="#">Forgot password</a>
                        <p>Don't have an account? <a href="">Register here</a></p>
                             </form>
                     </div>
              </div>
            </div>
          </div>
      </section>
       

    </body>
</html>